<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Less Time Thinking, More Time Eating</h2>
      <p class="text-muted">Check out some of the highlighted features!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="assets/images/demo-screen-2.png" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-heart text-primary"></i>
                <h3>Favourites</h3>
                <p class="text-muted">Easily save restaurants to your Favourites or To-Eat in one click!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-people text-primary"></i>
                <h3>Add Friends</h3>
                <p class="text-muted">Add friends to decide on where to eat next together!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-social-facebook text-secondary login-feature"></i>
                <i class="icon-social-google text-primary login-feature"></i>
                <h3>Quick Sign Up</h3>
                <p class="text-muted">Use your existing Facebook or Google account to get started right away!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-bulb text-primary"></i>
                <h3>Deciders</h3>
                <p class="text-muted">Decide on where to eat next on your own, with a group, or with a partner!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>